
* {
    box-sizing: border-box;
  }

  .container{
    position: relative;
    max-width: 1800px !important;
}

section {
    padding: 5rem;
}
/*-------navbar--------*/

ul {
    font-weight: bold;
}

.navbar {
    padding: 40%;
}

.navbar-brand {
      font-size: 2em !important;
      padding-right: 60px;
      padding-left: 10px;
    }

.nav-item {
    font-size: 1.5em !important;
    padding-right: 50px;
}

.nav-item .nav-link:active,
.nav-item .nav-link:hover{
    color:rgb(233, 183, 76) !important;
}

.cv{
    background-color: rgb(233, 183, 76);
    font-size: 1.5rem;
    padding: 1% 5% 1% 5%;
    border-radius: 40px;
    opacity: 0.6;
    display: inline-block;
}

.cv:hover {
    opacity:1;   
}

.cv a:hover {
    color: rgb(43, 80, 49);
    font-weight: bold;
    text-decoration: none;    
}

.cv a{
    color: rgb(43, 80, 49);
}
/*------hi----------*/

.pic {
    width: 80%;
    display: inline-block;
}

.short {
    /* background-color: rgb(238, 214, 162); */
    padding: 20px;
    border-radius: 50px;
    color: rgb(43, 80, 49);
}

.email {
    background-color: rgb(233, 183, 76);
    padding: 15px;
    border-radius: 50px;
    font-size: 1.5rem;
    color: rgb(43, 80, 49);
}

.email:hover {
    color: rgb(43, 80, 49);
    font-weight: bold;
    text-decoration: none;    
}


/*----------intro-----------*/

#intro{
    background-color:#ECE8DF;
}



/*-------about-------------*/

#about { 
    margin-left: 2em;
    margin-right: 2em;
}

.aboutme {
    display:inline;
    padding-top: 7rem;
}

/*---------review----------*/

#review { 
    margin-left: 2em;
    margin-right: 2em;
}

.reviewinfo{
    display:inline-block;
}
/* .container:hover .overlay{
    opacity:0.6;
}

.overlay {
    position: absolute;
    background-color: white;
    transition: .5s;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;    
}

.hi {
    position: absolute;
    color: black;
    font-size: 20px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
} */


/*------mediaQ----------*/

html { font-size: 1rem; }
@media (min-width: 100px) {
    html { font-size: 0.75rem; }
}
@media (min-width: 576px) {
    html { font-size: 0.75rem; }
}
@media (min-width: 768px) {
    html { font-size: 0.75rem; }
}
@media (min-width: 992px) {
    html { font-size: 0.75rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
}

/* large device */
/* @media (min-width: 1200px) {
    section {
        width: 80%
    }
} */

/* medium device */
/* @media (min-width: 992px) and (max-width: 1199px){
    section {
        width: 50%
    }
} */